# Python to MySql: with ( `mysql.connector` )

`-----------------------------`

**<font size=5>`Mr Fugu Data Science`</font>**

# (◕‿◕✿)

[Github](https://github.com/MrFuguDataScience) | [Youtube](https://www.youtube.com/channel/UCbni-TDI-Ub8VlGaP8HLTNw?view_as=subscriber)

# Purpose & Outcome:

+ Install `mysql.connector`
    + Create `Config.ini & .py files` for user credentials
+ `Connect to MySQL from Python`
+ Run SImple Query & Store as Data Frame


`--------------------------------------`

# Install : `mysql.connector`

`conda install -c anaconda mysql-connector-python`

`pip install mysql-connector` 

or `pip3 install mysql-connector`

[mysql connection python docs](https://dev.mysql.com/doc/connector-python/en/connector-python-connectargs.html)

In [4]:
import mysql.connector as mysql # establish connection to mysql 

from mysql.connector import MySQLConnection # using Class for function call

import pandas as pd        # Create Dataframe

from python_to_myql_config import read_db_config # calling config files, 
# that stored user credentials

# Config files creation:

**1<sup>st</sup>**: Create `config_.ini` file

`[mysql]
host = localhost
database = your_database_name_here
user = user_name_here
password = your_password_here`


`----------------------------------`


**2<sup>nd</sup>**: Create file to read parameters: `python_to_mysql_config.py`

` #!usr/bin/python`  (Change this line if using venv)

`from configparser import ConfigParser`

`def read_db_config(filename='config_.ini', section='mysql'):`

`    """ Read database configuration file and return a dictionary object`
    `:param filename: name of the configuration file
    :param section: section of database configuration
    :return: a dictionary of database parameters
    """`
    
    # create parser and read ini configuration file
    
     parser = ConfigParser()
     parser.read(filename)
     # get section, default to mysql
    
     db = {}  
    if parser.has_section(section):
        items = parser.items(section)
        for item in items:
            db[item[0]] = item[1]
    else:
        raise Exception('{0} not found in the {1} file'.format(section, filename))
    return db

# Create Connection:

In [69]:
# Setup Connection:

db_config = read_db_config() # user credentials

conn = MySQLConnection(**read_db_config()) # establish connection

mycursor = conn.cursor() # cursor, allows us to do queriers,send/retrieve data

# Starting MySql from command Line:

*I have Mac, Not sure aboout Windows*: `mysql.server start`

*Shutdown server*: `mysqld`


*login as root*: `mysql -uroot -p`


*Checking all Users*: ` SELECT User FROM mysql.user;`

In [70]:
# Basic Query: Proof of Concept

mycursor.execute("SELECT * from user_o limit 2")
mycursor.fetchall()

[('7929-3849-5090-8440',
  'wls@mlatgw.crw',
  'Zackarie',
  'el-Sami',
  7956729362.0,
  1),
 ('7606-6195-2000-3181',
  'bawclqrmd@hofcrm.bgt',
  'Andrea',
  'Luna Gonzalez',
  3172817425.0,
  2)]

In [49]:
# mycursor.execute('ALTER TABLE user_o DROP X')
# mycursor.fetchone()

In [71]:
# Query:
mycursor.execute("SELECT * from user_o limit 2")

# Get all results and store them 
mm=mycursor.fetchall()

# Retain columns names, and store as DF:
pd.DataFrame(mm,columns=mycursor.column_names)
# mm

,credit_card,email,first_name,last_name,primary_phone_number,id
0,7929-3849-5090-8440,wls@mlatgw.crw,Zackarie,el-Sami,7.956729e+09,1
1,7606-6195-2000-3181,bawclqrmd@hofcrm.bgt,Andrea,Luna Gonzalez,3.172817e+09,2

In [72]:
mydf=pd.DataFrame(mm,columns=mycursor.column_names)

# Change Primary Phone to Int instead of float
mydf=mydf.astype({'primary_phone_number': 'int64'})

mydf

# conn.close()  # close connection when done, un-highlight this~

,credit_card,email,first_name,last_name,primary_phone_number,id
0,7929-3849-5090-8440,wls@mlatgw.crw,Zackarie,el-Sami,7956729362,1
1,7606-6195-2000-3181,bawclqrmd@hofcrm.bgt,Andrea,Luna Gonzalez,3172817425,2

`-----------------------------------`

# Alternate Connection: If you are NOT concerned about credentials

`cnx = mysql.connector.connect(user='bambam', password='password',
                              host='127.0.0.1',
                              database='cowboy_doodah')
cnx.close()`

# Citations & Help

# ◔̯◔


https://pypi.org/project/mongo-pickle/

https://www.bogotobogo.com/python/python_serialization_pickle_json.php

https://dev.mysql.com/doc/connector-python/en/connector-python-connectargs.html

https://medium.com/@devontem/solved-cant-connect-to-local-mysql-server-through-socket-tmp-mysql-sock-2-f52c9c546f7

https://stackoverflow.com/questions/26344795/cannot-connect-to-mysql-workbench-on-mac-cant-connect-to-mysql-server-on-127 (workbench issues)

https://www.youtube.com/watch?v=DCgRF4KOYIY (mysql workbench issues)

https://dev.mysql.com/doc/mysql-shell/8.0/en/mysql-shell-commands.html (mysql shell commands)

https://www.fastwebhost.in/blog/mysql-list-users-how-to-list-mysql-user-accounts-via-command-line/#:~:text=mysql%3E%20SELECT%20User%20FROM%20mysql,and%20lists%20only%20user%20names.&text=If%20you%20want%20to%20list,information%20and%20all%20users%20data

https://www.datacamp.com/community/tutorials/mysql-python

https://www.mysqltutorial.org/python-connecting-mysql-databases/ (config file creation)

https://dev.mysql.com/doc/refman/8.0/en/option-files.html