# HOW TUTORIAL: `Using Pymongo: Sending Data From Python to MongoDB`

`with Mr Fugu Data Science`

# (◕‿◕✿)

`Check Me Out On`: [Github](https://github.com/MrFuguDataScience) | [Youtube](https://www.youtube.com/channel/UCbni-TDI-Ub8VlGaP8HLTNw?view_as=subscriber)


`______________________________________________________________________________`

# Purpose & Outcome:

+ `Send Dataframe` from Python to MongoDB
    + `Send .CSV()` from Python to MongoDB

+ `Query Data`
    + `Send Data from Mongo to Python`
    
 `_______________________________________________________________________________`

# MongoDB:

+ if you need to download visit: [official site](https://docs.mongodb.com/manual/installation/)

    + If you used `Homebrew`on `Mac`: I did:
        * `brew install mongodb-community`  (`as of Easter 2020`)
        * After download:
            * `sudo mkdir -p /data/db`
            * `whoami` take the answer to this and put below after `chown`
            * `sudo chown -Rv your_answer_here /data/db`
    + in the terminal do `mongod`
        * *open a separate terminal* type: `mongo`
        
    **Now, this will be done if you want to turn on service each time, otherwise follow the prompt after you download `mongo` to decide if you want to have it start when you turn on your computer.**

# `Install Pymongo` resources:

[anaconda version](https://anaconda.org/anaconda/pymongo) | [official site](https://pypi.org/project/pymongo/)


`-----------------------------------------------------------`

# Basic Idea of MongoDB: easy to use and powerfull

+ `MongoDB` is a `Document` database:
    + There is `No Schema`
    + `Documents` are stored in the `Binary form of JSON`: *BSON* 
        + Each stored document, is assigned a `unique id: _id`
    
+ `Collections`: can be thought of as (*Tables*)
    * You also, have `No Support of Server-Side Joins` like

This Exercise we will not be using a config file or creating users: these are great and very useful tasks with links providing examples and explanation.

[Create Config/YAML file](https://docs.mongodb.com/manual/reference/configuration-options/#configuration-options) | [Create Users](https://docs.mongodb.com/manual/reference/method/db.createUser/)

In [1]:
import pymongo as pym      # Interface with Python <--> MongoDB 
import pandas as pd        # Create Dataframe
import os                  # find files on system
import csv                 
import json                # convert file to json format

In [2]:
# Find a file outside your directory:

def os_any_dir_search(file):
    u=[]
    for p,n,f in os.walk(os.getcwd()):
        
        for a in f:
            a = str(a)
            if a.endswith(file): # can be (.csv) or a file like I did and search 
#                 print(a)
#                 print(p)
                t=pd.read_csv(p+'/'+file)
                u.append(p+'/'+a)
    return t,u

In [11]:
fake_users = os_any_dir_search('fake_users_R.csv')[0]
fake_users=fake_users.iloc[:,1:]
fake_users.head()

,credit_card,email,first_name,last_name,primary_phone_number
0,5399-3484-4724-7187,gso@qiegan.sqe,Donyell Ann,Ospina,5219459148
1,1630-5261-6108-7631,xnji@gfruaxqnvm.fha,Bishop,Siyed,4164254716
2,4435-3866-1076-3595,dvyco@tkzhsop.zxg,Connor,Powers,3627413915
3,3489-7099-9906-8660,fy@uvfhplatmz.cam,Kylie,Her,3562764561
4,8631-4500-5666-1510,rztkvliou@dkeinhgysf.deo,Anthony,Vo,7345795348

In [5]:
fake_users.to_csv('fake_users_R_fixed.csv')

In [8]:
# Create Dict() to send to MongoDB
fake_users_dict = fake_users.to_dict('records')
# fake_users_dict[:2]

In [7]:
# Making a Connection to MongoClient
client = pym.MongoClient('mongodb://localhost:27017/')

# CREATING A DATABASE:
db = client["fake_users"]

# CREATING A COLLECTION (*AKA* TABLE):
user_info_table= db["user_info"]

# SEND DATAFRAME From Python to MongoDB:

In [9]:
user_info_table.insert_many(fake_users_dict)

# Send .CSV()  From Python to MongoDB:

In [13]:
# Fetching the Absolute Path of desired file
csv_file_path=os_any_dir_search('fake_users_R_fixed.csv')[1]

# Converting this list as a string
csv_file_path_str ="".join(csv_file_path)

# reading the csv to pandas
data = pd.read_csv(csv_file_path_str)

# open .csv()
csvfile = open(csv_file_path_str, 'r')

# convert .csv() and read as dict()
reader = csv.DictReader( csvfile )
# naming columns
header=['credit_card','email','first_name','last_name','primary_phone_number']

# iterate through and send file as a dict() to MongoDB:
for each in reader:
    row={}
    for field in header:
        row[field]=each[field]

    db.user_info_table.insert_one(row)

In [17]:
# csv_file_path
# csv_file_path_str
# data
# # csvfile
# # csv.DictReader( csvfile )

# QUERIES:

In [19]:
myquery = ({"first_name": "Alex"})

mydoc = db.user_info_table.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('5e93e51600663b3fdd6ac51e'), 'credit_card': '1758-6471-8929-2781', 'email': 'ruft@ip.drj', 'first_name': 'Alex', 'last_name': 'Acosta', 'primary_phone_number': '8728626214'}
{'_id': ObjectId('5e93e51700663b3fdd6acb57'), 'credit_card': '7184-4588-2626-7620', 'email': 'rthdxfeic@rgml.gje', 'first_name': 'Alex', 'last_name': 'Guzman', 'primary_phone_number': '5678277128'}
{'_id': ObjectId('5e93e51700663b3fdd6acb8b'), 'credit_card': '4543-3438-1308-3700', 'email': 'b@il.zdo', 'first_name': 'Alex', 'last_name': 'el-Lone', 'primary_phone_number': '8798126912'}
{'_id': ObjectId('5e93e51700663b3fdd6acbb5'), 'credit_card': '1105-9106-9980-7701', 'email': 'e@irjs.gdp', 'first_name': 'Alex', 'last_name': 'Gossen', 'primary_phone_number': '1492498643'}
{'_id': ObjectId('5e93e51700663b3fdd6acd4f'), 'credit_card': '4629-9989-7938-7139', 'email': 'gbkpnjdywr@ydztb.imv', 'first_name': 'Alex', 'last_name': 'Sinnett', 'primary_phone_number': '9539782639'}
{'_id': ObjectId('5e93e51800663b3fdd6acea2'), 'credit_card': '7599-3521-8773-5340', 'email': 'lvyzixb@oa.kma', 'first_name': 'Alex', 'last_name': 'al-Jalali', 'primary_phone_number': '4715396348'}
{'_id': ObjectId('5e93e51800663b3fdd6ad09a'), 'credit_card': '6790-8988-6196-4004', 'email': 'cu@qkwi.ehf', 'first_name': 'Alex', 'last_name': 'al-Hammad', 'primary_phone_number': '6729359245'}
{'_id': ObjectId('5e93e51900663b3fdd6ad964'), 'credit_card': '4883-4897-2609-5300', 'email': 'bfpelsmy@fdybsirq.gry', 'first_name': 'Alex', 'last_name': 'Cronin', 'primary_phone_number': '6527825271'}

# Export From MongoDB to Python

In [22]:
# Importing the whole thing back again! 

data_from_db = db.user_info_table.find({},{'_id':0})
pd.DataFrame.from_dict(data_from_db).head()

,credit_card,email,first_name,last_name,primary_phone_number
0,5399-3484-4724-7187,gso@qiegan.sqe,Donyell Ann,Ospina,5219459148
1,1630-5261-6108-7631,xnji@gfruaxqnvm.fha,Bishop,Siyed,4164254716
2,4435-3866-1076-3595,dvyco@tkzhsop.zxg,Connor,Powers,3627413915
3,3489-7099-9906-8660,fy@uvfhplatmz.cam,Kylie,Her,3562764561
4,8631-4500-5666-1510,rztkvliou@dkeinhgysf.deo,Anthony,Vo,7345795348

In [23]:
# Query by FIRST_NAME = Alex, and Export from MongoDB to Python:

data_from_db_ = db.user_info_table.find({'first_name':'Alex'},{'_id':0})
first_name_alex=list(data_from_db_)
pd.DataFrame.from_dict(first_name_alex)

,credit_card,email,first_name,last_name,primary_phone_number
0,1758-6471-8929-2781,ruft@ip.drj,Alex,Acosta,8728626214
1,7184-4588-2626-7620,rthdxfeic@rgml.gje,Alex,Guzman,5678277128
2,4543-3438-1308-3700,b@il.zdo,Alex,el-Lone,8798126912
3,1105-9106-9980-7701,e@irjs.gdp,Alex,Gossen,1492498643
4,4629-9989-7938-7139,gbkpnjdywr@ydztb.imv,Alex,Sinnett,9539782639
5,7599-3521-8773-5340,lvyzixb@oa.kma,Alex,al-Jalali,4715396348
6,6790-8988-6196-4004,cu@qkwi.ehf,Alex,al-Hammad,6729359245
7,4883-4897-2609-5300,bfpelsmy@fdybsirq.gry,Alex,Cronin,6527825271

# Last NOTE: You can dump a csv file from Mongo and then Import to Python also!

feel free to check out this example:
[example](https://stackoverflow.com/questions/40245873/export-data-to-csv-from-mongodb-by-using-python)

# Citations:  

# ♥‿♥

https://docs.mongodb.com/manual/reference/configuration-options/ (config file)

https://api.mongodb.com/python/current/tutorial.html

https://www.datasciencelearner.com/insert-pandas-dataframe-into-mongodb/

https://docs.mongodb.com/manual/reference/configuration-options/#configuration-options

https://w3schoolsrus.github.io/python/python_mongodb_insert.html

https://gist.github.com/mprajwala/849b5909f5b881c8ce6a (csv to mongo from python)

https://www.youtube.com/watch?v=RNH0ODaZNE8 (CSV and credentials)

https://gist.github.com/katychuang/10439243 (partial but not complete Mac Uninstall MongoDB)

https://gist.github.com/mprajwala/849b5909f5b881c8ce6a (csv mongo import help)

https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_json.html

https://github.com/mongodb/homebrew-brew